'atom-workspace':
  'cmd-i': 'cursor-history:prev-within-editor'
  'cmd-m': 'cursor-history:next-within-editor'

'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'cmd-shift-t': 'platformio-ide-terminal:new'
  'cmd-shift-x': 'platformio-ide-terminal:close'
  'cmd-n': 'advanced-open-file:toggle'

'.platform-darwin atom-text-editor':
  'cmd-shift-g': 'platformio-ide-terminal:toggle'
  'cmd-shift-k': 'hey-pane:toggle-focus-of-active-pane'

'.platform-darwin':
  # focus pane
  'cmd-k left':        'window:focus-pane-on-left'
  'cmd-k right':       'window:focus-pane-on-right'
  'cmd-k up':          'window:focus-pane-above'
  'cmd-k down':        'window:focus-pane-below'
  # split pane
  'cmd-k cmd-left':    'pane:split-left'
  'cmd-k cmd-right':   'pane:split-right'
  'cmd-k cmd-up':      'pane:split-up'
  'cmd-k cmd-down':    'pane:split-down'
  # move pane item
  'cmd-k shift-left':  'window:move-active-item-to-pane-on-left'
  'cmd-k shift-right': 'window:move-active-item-to-pane-on-right'
  'cmd-k shift-up':    'window:move-active-item-to-pane-above'
  'cmd-k shift-down':  'window:move-active-item-to-pane-below'

'.platform-darwin .find-and-replace .replace-container atom-text-editor':
  'cmd-enter': 'find-and-replace:replace-all'
'.platform-darwin .project-find .replace-container atom-text-editor':
  'cmd-enter': 'project-find:replace-all'
