'atom-workspace':
  'cmd-i': 'cursor-history:prev-within-editor'
  'cmd-m': 'cursor-history:next-within-editor'

'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'cmd-shift-t': 'platformio-ide-terminal:new'
  'cmd-shift-x': 'platformio-ide-terminal:close'
  'cmd-n': 'advanced-open-file:toggle'

'.platform-darwin atom-text-editor':
  'cmd-shift-g': 'platformio-ide-terminal:toggle'

'.platform-darwin .find-and-replace .replace-container atom-text-editor':
  'cmd-enter': 'find-and-replace:replace-all'
'.platform-darwin .project-find .replace-container atom-text-editor':
  'cmd-enter': 'project-find:replace-all'
