'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'cmd-i': 'vim-mode-plus:activate-normal-mode'

'body .native-keybinding':
  'cmd-v': 'native!'

'body':
  'alt-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'cmd-shift-t': 'platformio-ide-terminal:new'
  'cmd-shift-x': 'platformio-ide-terminal:close'
  'cmd-n': 'advanced-open-file:toggle'
  'cmd-shift-s': 'window:save-all'
  'cmd-v': 'native!'

'.platform-darwin atom-text-editor':
  'cmd-k cmd-u': 'unset!'
  'cmd-k cmd-l': 'unset!'
  'cmd-y': 'editor:move-to-previous-word-boundary'
  'cmd-o': 'editor:move-to-next-word-boundary'
  'cmd-h': 'core:move-left'
  'cmd-l': 'core:move-right'
  'cmd-j': 'core:move-down'
  'cmd-k': 'core:move-up'
  'cmd-shift-g': 'platformio-ide-terminal:toggle'
  'cmd-shift-h': 'platformio-ide-terminal:next'
  'cmd-shift-b': 'prettier:format'
  'cmd-shift-k': 'hey-pane:toggle-focus-of-active-pane'

'.platform-darwin .platformio-ide-terminal .terminal':
  'cmd-c': 'platformio-ide-terminal:copy'
  'cmd-v': 'platformio-ide-terminal:paste'

'.platform-darwin':
  # focus pane
  'cmd-k left':        'window:focus-pane-on-left'
  'cmd-k right':       'window:focus-pane-on-right'
  'cmd-k up':          'window:focus-pane-above'
  'cmd-k down':        'window:focus-pane-below'
  # split pane and copy
  'cmd-k h':    'pane:split-left-and-move-active-item'
  'cmd-k l':   'pane:split-right-and-move-active-item'
  'cmd-k k':      'pane:split-up-and-move-active-item'
  'cmd-k j':    'pane:split-down-and-move-active-item'

'.platform-darwin .find-and-replace .replace-container atom-text-editor':
  'cmd-enter': 'find-and-replace:replace-all'
'.platform-darwin .project-find .replace-container atom-text-editor':
  'cmd-enter': 'project-find:replace-all'
